@using Microsoft.AspNetCore.Identity
@model IEnumerable<UserRolesViewModel>
@{
    ViewData["Title"] = "Settings";
}

<a class="btn btn-secondary mt-3 mb-5 ms-5" asp-controller="Home" asp-action="Settings" id="backbtn">< Back</a>

<div class="container mt-5">
    <div class="row">

        @if (TempData["Success"] != null)
        {
            <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
        }
        @if (TempData["Danger"] != null)
        {
            <p class="alert alert-danger" id="successMessage">@TempData["Danger"]</p>
        }
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Income</th>
                    <th scope="col">Job</th>
                    <th scope="col">Role</th>
                    <th scope="col">Manage</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.FamilyMembers.FamilyMember.Fname @item.FamilyMembers.FamilyMember.Sname</th>
                        <td>@item.FamilyMembers.FamilyMember.Income</td>
                        <td>@item.FamilyMembers.FamilyMember.JobName</td>
                        <td>
                            @foreach (var role in item.Roles)
                            {
                                @role <br />
                            }
                        </td>
                        <td>
                            <a class="btn btn-success" asp-controller="Family" asp-action="AddRole" asp-route-id="@item.FamilyMembers.FamilyMember.Id" id="addrolebtn">Add Role</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>




<script>
    setTimeout(function () {
            var successMessage = document.getElementById('successMessage');
            if (successMessage != null) {
                successMessage.remove();
            }
        }, 5000);</script>