@model IEnumerable<TransactionUserViewModel>
@{
    ViewData["Title"] = "All Transaction";
}




<div class="container mt-5">
    <div class="row">
        <div class="col d-flex justify-content-end">
            <a class="btn btn-col white-text mb-5" asp-controller="Transaction" asp-action="AddTransaction" id="newTransaction">New Transaction</a>
            <form method="post" class="ms-3" action="@Url.Action("RemoveMonth", "Transaction")" onsubmit="return confirm('Are you sure you want to remove the past month of transactions');">
                <button type="submit" class="btn btn-danger w-100" id="deletepastbtn">Delete Past Month</button>
            </form>
        </div>

    </div>
    <div class="row">
        @if (TempData["Success"] != null)
        {
            <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
        }
        @if (TempData["Danger"] != null)
        {
            <p class="alert alert-danger" id="successMessage">@TempData["Danger"]</p>
        }
        <h3 class="heading-text">All Transaction's for your Family:</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Transaction Type</th>
                    <th scope="col">Date</th>
                    <th scope="col">Made By</th>
                    <th scope="col">Manage</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row"></th>
                        <td>@item.Transaction.Name</td>
                        <td>@item.Transaction.Description</td>
                        <td>£@item.Transaction.Amount</td>
                        <td>@item.Transaction.TransactionType</td>
                        <td>@item.Transaction.Date</td>
                        <td>
                            @item.Member.Fname
                        </td>
                        <td>
                            <form method="post" action="@Url.Action("DeleteTransaction", "Transaction", new { id = @item.Transaction.Id })" onsubmit="return confirm('Are you sure you want to delete this transaction?');">
                                <button type="submit" class="btn btn-danger" id="deletebtn">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row mt-5">
        <div class="col-6">
        </div>
        <div class="col-6">
            <!--Total Table-->
            <table class="table d-flex justify-content-end">
                <thead>
                    <tr>
                        <th scope="col">Total Amount:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>£@Model.Sum(x => x.Transaction.Amount)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<script>
    setTimeout(function () {
        var successMessage = document.getElementById('successMessage');
        if (successMessage != null) {
            successMessage.remove();
        }
    }, 5000);</script>
